/* main.css */

.eab-component-wrapper a,
.eab-screen a {
  text-decoration: none;
  display: contents;
}

.eab-flexbox-container a {
  line-height: 0;
}

.eab-full-width-a {
  width: 100%;
}

.eab-full-height-a {
  height: 100%;
}

.eab-screen textarea:focus,
.eab-screen input:focus {
  outline: none;
}

.eab-screen *,
.eab-component-wrapper * {
  box-sizing: border-box;
}

.eab-screen div {
  -webkit-text-size-adjust: none;
}

.eab-container-center-vertical,
.eab-container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.eab-container-center-vertical {
  align-items: center;
  height: 100%;
}

.eab-container-center-horizontal {
  justify-content: center;
  width: 100%;
}

.eab-container-center-vertical > *,
.eab-container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}

.eab-component-wrapper,
.eab-screen {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.eab-auto-animated div {
  opacity: 0;
  position: absolute;
  --eab-z-index: -1;
}

.eab-auto-animated .eab-container-center-vertical,
.eab-auto-animated .eab-container-center-horizontal {
  opacity: 1;
}

.eab-overlay {
  position: absolute;
  opacity: 0;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.eab-animate-appear {
  opacity: 0;
  display: block;
  animation: eab-reveal 0.3s ease-in-out 1 normal forwards;
}

.eab-animate-disappear {
  opacity: 1;
  display: block;
  animation: eab-reveal 0.3s ease-in-out 1 reverse forwards;
}

.eab-animate-nodelay {
  animation-delay: 0s;
}

@keyframes eab-reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-center {
  align-self: center;
}

.eab-valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eab-valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.eab-component-wrapper,
.eab-component-wrapper * {
  pointer-events: none;
}

.eab-component-wrapper a *,
.eab-component-wrapper a,
.eab-component-wrapper input,
.eab-component-wrapper video,
.eab-component-wrapper iframe,
.eab-listeners-active,
.eab-listeners-active * {
  pointer-events: auto;
}

.eab-hidden,
.eab-hidden * {
  visibility: hidden;
  pointer-events: none;
}

.eab-smart-layers-pointers,
.eab-smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.eab-component-wrapper.eab-not-ready,
.eab-component-wrapper.eab-not-ready * {
  visibility: hidden !important;
}

.eab-listeners-active-click,
.eab-listeners-active-click * {
  cursor: pointer;
}

/* screen - index */

.border-class-1 {
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 1px;
}

.font-class-1 {
  color: var(--black);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.font-class-2 {
  color: var(--black);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.font-class-3 {
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 600;
}

.font-class-4 {
  color: var(--black);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.font-class-5 {
  color: var(--black);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 14px;
}

.index {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 3511px;
  min-width: 1440px;
  
  position: relative;
  width: 100%;
}

.index .back-to-thumbnails-IcPKRJ {
  background-color: var(--white);
  border-radius: 2px;
  cursor: pointer;
  height: 50px;
  position: absolute;
  right: 35px;
  top: 29px;
  width: 50px;
}

.index .background-7Tktr1 {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-7iB09V {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-CiDiau {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-EgdBDA {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-QPxyMD {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-W7r9kz {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-XH43Zq {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-YF5ZLi {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-dEv6lC {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-dncXdj {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-mxZgLT {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-sxoPxA {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-t85yIM {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-wkRdWJ {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-zg8CzX {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .eab-logo-color-1-C61RwL {
  background-color: rgba(255, 255, 255, 0);
  background-image: url(img/eab-logo-color-1@2x.png);
  background-size: 100% 100%;
  bottom: 50px;
  height: 77px;
  position: absolute;
  right: 106px;
  width: 200px;
}

.index .frame-1-61Z7WH {
  background-color: rgba(255, 255, 255, 0);
  height: 304px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1228px;
}

.index .frame-2-61Z7WH {
  background-color: rgba(255, 255, 255, 0);
  height: 304px;
  left: 0px;
  position: absolute;
  top: 387px;
  width: 1228px;
}

.index .frame-3-61Z7WH {
  background-color: rgba(255, 255, 255, 0);
  height: 326px;
  left: 0px;
  position: absolute;
  top: 774px;
  width: 1228px;
}

.index .frame-4-C61RwL {
  background-color: rgba(255, 255, 255, 0);
  height: 1100px;
  left: calc(50% - 614px);
  position: absolute;
  top: 345px;
  width: 1228px;
}

.index .header-C61RwL {
  background-color: rgba(255, 255, 255, 0);
  height: 213px;
  left: 106px;
  position: absolute;
  top: 0px;
  width: calc(100% - 106px);
}

.index .individual-ive-assets-C61RwL {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 38px;
  height: auto;
  left: calc(50% - 614px);
  position: absolute;
  text-align: left;
  top: 1772px;
  width: 1230px;
}

.index .iwc-frame-1lo3Nx {
  background-color: var(--mist-gray);
  height: 78px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 383px;
}

.index .iwc-frame-4WP2S8 {
  background-color: var(--mist-gray);
  height: 78px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 383px;
}

.index .iwc-frame-BKtSd9 {
  background-color: var(--mist-gray);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 383px;
}

.index .iwc-frame-L1gLll {
  background-color: var(--mist-gray);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 383px;
}

.index .iwc-frame-PprdKF {
  background-color: var(--mist-gray);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 383px;
}

.index .iwc-frame-SiNrKe {
  background-color: var(--mist-gray);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 383px;
}

.index .iwc-frame-Tf73xR {
  background-color: var(--mist-gray);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 383px;
}

.index .iwc-frame-g6vh31 {
  background-color: var(--mist-gray);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 383px;
}

.index .iwc-frame-xRZh9f {
  background-color: var(--mist-gray);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 383px;
}

.index .iwc-proof-C3JwHI {
  background-color: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 13px;
  height: 55.17%;
  left: 4.43%;
  position: absolute;
  text-align: center;
  top: 22.41%;
  width: 91.67%;
}

.index .iwc-proof-Yyb0UG {
  background-color: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 13px;
  height: 55.17%;
  left: 4.43%;
  position: absolute;
  text-align: center;
  top: 22.41%;
  width: 91.67%;
}

.index .iwc-proof-blwYDI {
  background-color: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 13px;
  height: 55.17%;
  left: 4.43%;
  position: absolute;
  text-align: center;
  top: 22.41%;
  width: 91.67%;
}

.index .iwc-proof-dcc21J {
  background-color: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 13px;
  height: 55.17%;
  left: 4.43%;
  position: absolute;
  text-align: center;
  top: 22.41%;
  width: 91.67%;
}

.index .iwc-proof-dvlQvt {
  background-color: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 13px;
  height: 55.17%;
  left: 4.43%;
  position: absolute;
  text-align: center;
  top: 22.41%;
  width: 91.67%;
}

.index .iwc-proof-i61whh {
  background-color: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 13px;
  height: 55.17%;
  left: 4.43%;
  position: absolute;
  text-align: center;
  top: 22.41%;
  width: 91.67%;
}

.index .iwc-proof-l4y3PY {
  background-color: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 13px;
  height: 55.17%;
  left: 4.43%;
  position: absolute;
  text-align: center;
  top: 22.41%;
  width: 91.67%;
}

.index .iwc-proof-rdbHhW {
  background-color: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 13px;
  height: 55.17%;
  left: 4.43%;
  position: absolute;
  text-align: center;
  top: 22.41%;
  width: 91.67%;
}

.index .iwc-proof-xaBuIr {
  background-color: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 13px;
  height: 55.17%;
  left: 4.43%;
  position: absolute;
  text-align: center;
  top: 22.41%;
  width: 91.67%;
}

.index .iwc-thumbnail-2P4qUJ {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 192px);
  position: absolute;
  top: 2133px;
  width: 386px;
}

.index .iwc-thumbnail-3kIbHG {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% + 230px);
  position: absolute;
  top: 2723px;
  width: 386px;
}

.index .iwc-thumbnail-C61RwL {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 614px);
  position: absolute;
  top: 1838px;
  width: 386px;
}

.index .iwc-thumbnail-HlKRTo {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% + 230px);
  position: absolute;
  top: 2428px;
  width: 386px;
}

.index .iwc-thumbnail-J1YQmd {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 614px);
  position: absolute;
  top: 2428px;
  width: 386px;
}

.index .iwc-thumbnail-Lrjpax {
  background-color: rgba(255, 255, 255, 0);
  height: 326px;
  left: calc(50% - 192px);
  position: absolute;
  top: 0px;
  width: 384px;
}

.index .iwc-thumbnail-QkaUEw {
  background-color: rgba(255, 255, 255, 0);
  height: 304px;
  left: calc(50% - 614px);
  position: absolute;
  top: 0px;
  width: 384px;
}

.index .iwc-thumbnail-QxM5SU {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 614px);
  position: absolute;
  top: 2133px;
  width: 386px;
}

.index .iwc-thumbnail-R7WrHk {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 192px);
  position: absolute;
  top: 3018px;
  width: 386px;
}

.index .iwc-thumbnail-VMr6Om {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 192px);
  position: absolute;
  top: 1838px;
  width: 386px;
}

.index .iwc-thumbnail-VkPPtx {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 614px);
  position: absolute;
  top: 2723px;
  width: 386px;
}

.index .iwc-thumbnail-WMATUG {
  background-color: rgba(255, 255, 255, 0);
  height: 304px;
  left: calc(50% - 614px);
  position: absolute;
  top: 0px;
  width: 384px;
}

.index .iwc-thumbnail-YWzA7M {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 192px);
  position: absolute;
  top: 2723px;
  width: 386px;
}

.index .iwc-thumbnail-a5WPlX {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 192px);
  position: absolute;
  top: 2428px;
  width: 386px;
}

.index .iwc-thumbnail-a73nmY {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 614px);
  position: absolute;
  top: 3018px;
  width: 386px;
}

.index .iwc-thumbnail-gQjG0r {
  background-color: rgba(255, 255, 255, 0);
  height: 304px;
  left: calc(50% + 230px);
  position: absolute;
  top: 0px;
  width: 384px;
}

.index .iwc-thumbnail-gb2WpB {
  background-color: rgba(255, 255, 255, 0);
  height: 326px;
  left: calc(50% + 230px);
  position: absolute;
  top: 0px;
  width: 384px;
}

.index .iwc-thumbnail-mzXdH9 {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% + 230px);
  position: absolute;
  top: 1838px;
  width: 386px;
}

.index .iwc-thumbnail-qr8e7q {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% + 230px);
  position: absolute;
  top: 2133px;
  width: 386px;
}

.index .iwc-thumbnail-rxvq3k {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% + 230px);
  position: absolute;
  top: 3018px;
  width: 386px;
}

.index .iwc-thumbnail-ysXXUA {
  background-color: rgba(255, 255, 255, 0);
  height: 304px;
  left: calc(50% - 192px);
  position: absolute;
  top: 0px;
  width: 384px;
}

.index .iwc-thumbnail1-yzsYrx {
  background-color: rgba(255, 255, 255, 0);
  height: 304px;
  left: calc(50% + 230px);
  position: absolute;
  top: 0px;
  width: 384px;
}

.index .iwc-thumbnail2-yzsYrx {
  background-color: rgba(255, 255, 255, 0);
  height: 304px;
  left: calc(50% - 192px);
  position: absolute;
  top: 0px;
  width: 384px;
}

.index .iwc-thumbnail3-yzsYrx {
  background-color: rgba(255, 255, 255, 0);
  height: 304px;
  left: calc(50% - 614px);
  position: absolute;
  top: 0px;
  width: 384px;
}

.index .iwc-title-7Tktr1 {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-7iB09V {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-AUPQ0k {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 22px;
  left: 21px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 343px;
}

.index .iwc-title-CIzVwQ {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 22px;
  left: 21px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 343px;
}

.index .iwc-title-CiDiau {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-EgdBDA {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-QPxyMD {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-RilS09 {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 44px;
  left: 21px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 343px;
}

.index .iwc-title-S8ILCx {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 22px;
  left: 21px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 343px;
}

.index .iwc-title-SdfXZa {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 22px;
  left: 21px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 343px;
}

.index .iwc-title-W7r9kz {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-WJeFYv {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 44px;
  left: 21px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 343px;
}

.index .iwc-title-XH43Zq {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-YF5ZLi {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-dEv6lC {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-dncXdj {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-igwTM4 {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 22px;
  left: 21px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 343px;
}

.index .iwc-title-iy6CEj {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 22px;
  left: 21px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 343px;
}

.index .iwc-title-mxZgLT {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-sxoPxA {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-t85yIM {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-wkRdWJ {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-xAsxgi {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 22px;
  left: 21px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 343px;
}

.index .iwc-title-zg8CzX {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .mini-tours-C61RwL {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 38px;
  height: auto;
  left: calc(50% - 614px);
  position: absolute;
  text-align: left;
  top: 279px;
  width: 1230px;
}

.index .nsu-florid-tal-blue-1-IcPKRJ {
  background-color: rgba(255, 255, 255, 0);
  height: 37px;
  left: 0px;
  position: absolute;
  top: 66px;
  width: 264px;
}

.index .proof-1lo3Nx {
  background-color: var(--mountain-mist);
  cursor: pointer;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 268px;
  width: 384px;
}

.index .proof-4WP2S8 {
  background-color: var(--mountain-mist);
  cursor: pointer;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 268px;
  width: 384px;
}

.index .proof-BKtSd9 {
  background-color: var(--mountain-mist);
  cursor: pointer;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 384px;
}

.index .proof-L1gLll {
  background-color: var(--mountain-mist);
  cursor: pointer;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 384px;
}

.index .proof-PprdKF {
  background-color: var(--mountain-mist);
  cursor: pointer;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 384px;
}

.index .proof-SiNrKe {
  background-color: var(--mountain-mist);
  cursor: pointer;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 384px;
}

.index .proof-Tf73xR {
  background-color: var(--mountain-mist);
  cursor: pointer;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 384px;
}

.index .proof-g6vh31 {
  background-color: var(--mountain-mist);
  cursor: pointer;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 384px;
}

.index .proof-xRZh9f {
  background-color: var(--mountain-mist);
  cursor: pointer;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 384px;
}

.index .rectangle-127-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 14.42%;
  position: absolute;
  top: 19.23%;
  width: 17.89%;
}

.index .rectangle-134-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 14.42%;
  position: absolute;
  top: 55.51%;
  width: 17.89%;
}

.index .rectangle-135-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 40.26%;
  position: absolute;
  top: 19.23%;
  width: 17.89%;
}

.index .rectangle-136-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 40.26%;
  position: absolute;
  top: 55.51%;
  width: 17.89%;
}

.index .rectangle-137-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 66.11%;
  position: absolute;
  top: 19.23%;
  width: 17.89%;
}

.index .rectangle-138-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 66.11%;
  position: absolute;
  top: 55.51%;
  width: 17.89%;
}

.index .top-angle-IcPKRJ {
  background-color: rgba(9, 113, 206, 0);
  height: 158px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 1114px;
}

.index .undergradn-eb-content-IcPKRJ {
  background-color: rgba(0, 0, 0, 0);
  height: 66px;
  left: 0px;
  position: absolute;
  text-align: left;
  top: 114px;
  width: 345px;
}

.index .x-image-1lo3Nx {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-4WP2S8 {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-7Tktr1 {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-7iB09V {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-BKtSd9 {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-CiDiau {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-EgdBDA {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-L1gLll {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-PprdKF {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-QPxyMD {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-SiNrKe {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-Tf73xR {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-W7r9kz {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-XH43Zq {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-YF5ZLi {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-dEv6lC {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-dncXdj {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-g6vh31 {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-mxZgLT {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-sxoPxA {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-t85yIM {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-wkRdWJ {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-xRZh9f {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-zg8CzX {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

:root {
  --abbey: rgba(79, 79, 79, 1);
  --black: rgba(0, 0, 0, 1);
  --mercury: rgba(229, 229, 229, 1);
  --mist-gray: rgba(196, 196, 196, 1);
  --mountain-mist: rgba(153, 153, 153, 1);
  --white: rgba(255, 255, 255, 1);
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");

.eab-component-wrapper a,
.eab-screen a {
  text-decoration: none;
  display: contents;
}

.eab-flexbox-container a {
  line-height: 0;
}

.eab-full-width-a {
  width: 100%;
}

.eab-full-height-a {
  height: 100%;
}

.eab-screen textarea:focus,
.eab-screen input:focus {
  outline: none;
}

.eab-screen *,
.eab-component-wrapper * {
  box-sizing: border-box;
}

.eab-screen div {
  -webkit-text-size-adjust: none;
}

.eab-container-center-vertical,
.eab-container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.eab-container-center-vertical {
  align-items: center;
  height: 100%;
}

.eab-container-center-horizontal {
  justify-content: center;
  width: 100%;
}

.eab-container-center-vertical > *,
.eab-container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}

.eab-component-wrapper,
.eab-screen {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.eab-auto-animated div {
  opacity: 0;
  position: absolute;
  --eab-z-index: -1;
}

.eab-auto-animated .eab-container-center-vertical,
.eab-auto-animated .eab-container-center-horizontal {
  opacity: 1;
}

.eab-overlay {
  position: absolute;
  opacity: 0;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.eab-animate-appear {
  opacity: 0;
  display: block;
  animation: eab-reveal 0.3s ease-in-out 1 normal forwards;
}

.eab-animate-disappear {
  opacity: 1;
  display: block;
  animation: eab-reveal 0.3s ease-in-out 1 reverse forwards;
}

.eab-animate-nodelay {
  animation-delay: 0s;
}

@keyframes eab-reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-center {
  align-self: center;
}

.eab-valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eab-valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.eab-component-wrapper,
.eab-component-wrapper * {
  pointer-events: none;
}

.eab-component-wrapper a *,
.eab-component-wrapper a,
.eab-component-wrapper input,
.eab-component-wrapper video,
.eab-component-wrapper iframe,
.eab-listeners-active,
.eab-listeners-active * {
  pointer-events: auto;
}

.eab-hidden,
.eab-hidden * {
  visibility: hidden;
  pointer-events: none;
}

.eab-smart-layers-pointers,
.eab-smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.eab-component-wrapper.eab-not-ready,
.eab-component-wrapper.eab-not-ready * {
  visibility: hidden !important;
}

.eab-listeners-active-click,
.eab-listeners-active-click * {
  cursor: pointer;
}

/* screen - htmltemplate */

.border-class-1 {
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 1px;
}

.font-class-1 {
  color: var(--black);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.font-class-2 {
  color: var(--black);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.font-class-3 {
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 600;
}

.font-class-4 {
  color: var(--black);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.font-class-5 {
  color: var(--black);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 14px;
}

.htmltemplate {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 900px;
  min-width: 1440px;
  
  position: relative;
  width: 100%;
}

.htmltemplate .back-to-thumbnails-IcPKRJ {
  background-color: var(--white);
  border-radius: 2px;
  cursor: pointer;
  height: 50px;
  position: absolute;
  right: 35px;
  top: 29px;
  width: 50px;
}

.htmltemplate .header-C61RwL {
  background-color: rgba(255, 255, 255, 0);
  height: 213px;
  left: 106px;
  position: absolute;
  top: 0px;
  width: calc(100% - 106px);
}

.htmltemplate .nsu-florid-tal-blue-1-IcPKRJ {
  background-color: rgba(255, 255, 255, 0);
  height: 37px;
  left: 0px;
  position: absolute;
  top: 66px;
  width: 264px;
}

.htmltemplate .rectangle-127-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 14.42%;
  position: absolute;
  top: 19.23%;
  width: 17.89%;
}

.htmltemplate .rectangle-134-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 14.42%;
  position: absolute;
  top: 55.51%;
  width: 17.89%;
}

.htmltemplate .rectangle-135-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 40.26%;
  position: absolute;
  top: 19.23%;
  width: 17.89%;
}

.htmltemplate .rectangle-136-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 40.26%;
  position: absolute;
  top: 55.51%;
  width: 17.89%;
}

.htmltemplate .rectangle-137-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 66.11%;
  position: absolute;
  top: 19.23%;
  width: 17.89%;
}

.htmltemplate .rectangle-138-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 66.11%;
  position: absolute;
  top: 55.51%;
  width: 17.89%;
}

.htmltemplate .top-angle-IcPKRJ {
  background-color: rgba(9, 113, 206, 0);
  height: 158px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 1114px;
}

.htmltemplate .undergradn-eb-content-IcPKRJ {
  background-color: rgba(0, 0, 0, 0);
  height: 66px;
  left: 0px;
  position: absolute;
  text-align: left;
  top: 114px;
  width: 345px;
}

.htmltemplate .x-main-media-image-C61RwL {
  background-color: rgba(255, 255, 255, 0);
  background-size: 100% 100%;
  height: 536px;
  left: 7.36%;
  position: absolute;
  top: 252px;
  width: 85.28%;
}

.htmltemplate .x-page-title-C61RwL {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 24px;
  height: 29px;
  position: absolute;
  right: 104px;
  text-align: right;
  top: 200px;
  width: 1152px;
}

:root {
  --abbey: rgba(79, 79, 79, 1);
  --black: rgba(0, 0, 0, 1);
  --mercury: rgba(229, 229, 229, 1);
  --mountain-mist: rgba(153, 153, 153, 1);
  --white: rgba(255, 255, 255, 1);
}


/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body { font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; color: #111; background-color: #fdfdfd; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; display: flex; min-height: 100vh; flex-direction: column; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

/** `main` element */
main { display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/** Images */
img { max-width: 100%; vertical-align: middle; }

/** Figures */
figure > img { display: block; }

figcaption { font-size: 14px; }

/** Lists */
ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 400; }

/** Links */
a { color: #2a7ae2; text-decoration: none; }

a:visited { color: #1756a9; }

a:hover { color: #111; text-decoration: underline; }

.social-media-list a:hover { text-decoration: none; }

.social-media-list a:hover .username { text-decoration: underline; }

/** Blockquotes */
blockquote { color: #828282; border-left: 4px solid #e8e8e8; padding-left: 15px; font-size: 18px; letter-spacing: -1px; font-style: italic; }

blockquote > :last-child { margin-bottom: 0; }

/** Code formatting */
pre, code { font-size: 15px; border: 1px solid #e8e8e8; border-radius: 3px; background-color: #eef; }

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: auto; }

pre > code { border: 0; padding-right: 0; padding-left: 0; }

/** Wrapper */
.wrapper { max-width: -webkit-calc(800px - (30px * 2)); max-width: calc(800px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }

@media screen and (max-width: 800px) { .wrapper { max-width: -webkit-calc(800px - (30px)); max-width: calc(800px - (30px)); padding-right: 15px; padding-left: 15px; } }

/** Clearfix */
.footer-col-wrapper:after, .wrapper:after { content: ""; display: table; clear: both; }

/** Icons */
.svg-icon { width: 16px; height: 16px; display: inline-block; fill: #828282; padding-right: 5px; vertical-align: text-top; }

.social-media-list li + li { padding-top: 5px; }

/** Tables */
table { margin-bottom: 30px; width: 100%; text-align: left; color: #3f3f3f; border-collapse: collapse; border: 1px solid #e8e8e8; }

table tr:nth-child(even) { background-color: #f7f7f7; }

table th, table td { padding: 10px 15px; }

table th { background-color: #f0f0f0; border: 1px solid #dedede; border-bottom-color: #c9c9c9; }

table td { border: 1px solid #e8e8e8; }

/** Site header */
.site-header { border-top: 5px solid #424242; border-bottom: 1px solid #e8e8e8; min-height: 55.95px; position: relative; }

.site-title { font-size: 26px; font-weight: 300; line-height: 54px; letter-spacing: -1px; margin-bottom: 0; float: left; }

.site-title, .site-title:visited { color: #424242; }

.site-nav { float: right; line-height: 54px; }

.site-nav .nav-trigger { display: none; }

.site-nav .menu-icon { display: none; }

.site-nav .page-link { color: #111; line-height: 1.5; }

.site-nav .page-link:not(:last-child) { margin-right: 20px; }

@media screen and (max-width: 600px) { .site-nav { position: absolute; top: 9px; right: 15px; background-color: #fdfdfd; border: 1px solid #e8e8e8; border-radius: 5px; text-align: right; } .site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; } .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; } .site-nav .menu-icon > svg { fill: #424242; } .site-nav input ~ .trigger { clear: both; display: none; } .site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; } .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 20px; } .site-nav .page-link:not(:last-child) { margin-right: 0; } }

/** Site footer */
.site-footer { border-top: 1px solid #e8e8e8; padding: 30px 0; }

.footer-heading { font-size: 18px; margin-bottom: 15px; }

.contact-list, .social-media-list { list-style: none; margin-left: 0; }

.footer-col-wrapper { font-size: 15px; color: #828282; margin-left: -15px; }

.footer-col { float: left; margin-bottom: 15px; padding-left: 15px; }

.footer-col-1 { width: -webkit-calc(35% - (30px / 2)); width: calc(35% - (30px / 2)); }

.footer-col-2 { width: -webkit-calc(20% - (30px / 2)); width: calc(20% - (30px / 2)); }

.footer-col-3 { width: -webkit-calc(45% - (30px / 2)); width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) { .footer-col-1, .footer-col-2 { width: -webkit-calc(50% - (30px / 2)); width: calc(50% - (30px / 2)); } .footer-col-3 { width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }

@media screen and (max-width: 600px) { .footer-col { float: none; width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }

/** Page content */
.page-content { padding: 30px 0; flex: 1; }

.page-heading { font-size: 32px; }

.post-list-heading { font-size: 28px; }

.post-list { margin-left: 0; list-style: none; }

.post-list > li { margin-bottom: 30px; }

.post-meta { font-size: 14px; color: #828282; }

.post-link { display: block; font-size: 24px; }

/** Posts */
.post-header { margin-bottom: 30px; }

.post-title { font-size: 42px; letter-spacing: -1px; line-height: 1; }

@media screen and (max-width: 800px) { .post-title { font-size: 36px; } }

.post-content { margin-bottom: 30px; }

.post-content h2 { font-size: 32px; }

@media screen and (max-width: 800px) { .post-content h2 { font-size: 28px; } }

.post-content h3 { font-size: 26px; }

@media screen and (max-width: 800px) { .post-content h3 { font-size: 22px; } }

.post-content h4 { font-size: 20px; }

@media screen and (max-width: 800px) { .post-content h4 { font-size: 18px; } }

/** Syntax highlighting styles */
.highlight { background: #fff; }

.highlighter-rouge .highlight { background: #eef; }

.highlight .c { color: #998; font-style: italic; }

.highlight .err { color: #a61717; background-color: #e3d2d2; }

.highlight .k { font-weight: bold; }

.highlight .o { font-weight: bold; }

.highlight .cm { color: #998; font-style: italic; }

.highlight .cp { color: #999; font-weight: bold; }

.highlight .c1 { color: #998; font-style: italic; }

.highlight .cs { color: #999; font-weight: bold; font-style: italic; }

.highlight .gd { color: #000; background-color: #fdd; }

.highlight .gd .x { color: #000; background-color: #faa; }

.highlight .ge { font-style: italic; }

.highlight .gr { color: #a00; }

.highlight .gh { color: #999; }

.highlight .gi { color: #000; background-color: #dfd; }

.highlight .gi .x { color: #000; background-color: #afa; }

.highlight .go { color: #888; }

.highlight .gp { color: #555; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #aaa; }

.highlight .gt { color: #a00; }

.highlight .kc { font-weight: bold; }

.highlight .kd { font-weight: bold; }

.highlight .kp { font-weight: bold; }

.highlight .kr { font-weight: bold; }

.highlight .kt { color: #458; font-weight: bold; }

.highlight .m { color: #099; }

.highlight .s { color: #d14; }

.highlight .na { color: #008080; }

.highlight .nb { color: #0086B3; }

.highlight .nc { color: #458; font-weight: bold; }

.highlight .no { color: #008080; }

.highlight .ni { color: #800080; }

.highlight .ne { color: #900; font-weight: bold; }

.highlight .nf { color: #900; font-weight: bold; }

.highlight .nn { color: #555; }

.highlight .nt { color: #000080; }

.highlight .nv { color: #008080; }

.highlight .ow { font-weight: bold; }

.highlight .w { color: #bbb; }

.highlight .mf { color: #099; }

.highlight .mh { color: #099; }

.highlight .mi { color: #099; }

.highlight .mo { color: #099; }

.highlight .sb { color: #d14; }

.highlight .sc { color: #d14; }

.highlight .sd { color: #d14; }

.highlight .s2 { color: #d14; }

.highlight .se { color: #d14; }

.highlight .sh { color: #d14; }

.highlight .si { color: #d14; }

.highlight .sx { color: #d14; }

.highlight .sr { color: #009926; }

.highlight .s1 { color: #d14; }

.highlight .ss { color: #990073; }

.highlight .bp { color: #999; }

.highlight .vc { color: #008080; }

.highlight .vg { color: #008080; }

.highlight .vi { color: #008080; }

.highlight .il { color: #099; }

/*# sourceMappingURL=main.css.map */