/* main.css */

.eab-component-wrapper a,
.eab-screen a {
  text-decoration: none;
  display: contents;
}

.eab-flexbox-container a {
  line-height: 0;
}

.eab-full-width-a {
  width: 100%;
}

.eab-full-height-a {
  height: 100%;
}

.eab-screen textarea:focus,
.eab-screen input:focus {
  outline: none;
}

.eab-screen *,
.eab-component-wrapper * {
  box-sizing: border-box;
}

.eab-screen div {
  -webkit-text-size-adjust: none;
}

.eab-container-center-vertical,
.eab-container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.eab-container-center-vertical {
  align-items: center;
  height: 100%;
}

.eab-container-center-horizontal {
  justify-content: center;
  width: 100%;
}

.eab-container-center-vertical > *,
.eab-container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}

.eab-component-wrapper,
.eab-screen {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.eab-auto-animated div {
  opacity: 0;
  position: absolute;
  --eab-z-index: -1;
}

.eab-auto-animated .eab-container-center-vertical,
.eab-auto-animated .eab-container-center-horizontal {
  opacity: 1;
}

.eab-overlay {
  position: absolute;
  opacity: 0;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.eab-animate-appear {
  opacity: 0;
  display: block;
  animation: eab-reveal 0.3s ease-in-out 1 normal forwards;
}

.eab-animate-disappear {
  opacity: 1;
  display: block;
  animation: eab-reveal 0.3s ease-in-out 1 reverse forwards;
}

.eab-animate-nodelay {
  animation-delay: 0s;
}

@keyframes eab-reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-center {
  align-self: center;
}

.eab-valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eab-valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.eab-component-wrapper,
.eab-component-wrapper * {
  pointer-events: none;
}

.eab-component-wrapper a *,
.eab-component-wrapper a,
.eab-component-wrapper input,
.eab-component-wrapper video,
.eab-component-wrapper iframe,
.eab-listeners-active,
.eab-listeners-active * {
  pointer-events: auto;
}

.eab-hidden,
.eab-hidden * {
  visibility: hidden;
  pointer-events: none;
}

.eab-smart-layers-pointers,
.eab-smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.eab-component-wrapper.eab-not-ready,
.eab-component-wrapper.eab-not-ready * {
  visibility: hidden !important;
}

.eab-listeners-active-click,
.eab-listeners-active-click * {
  cursor: pointer;
}

/* screen - index */

.border-class-1 {
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 1px;
}

.font-class-1 {
  color: var(--black);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.font-class-2 {
  color: var(--black);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.font-class-3 {
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 600;
}

.font-class-4 {
  color: var(--black);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.font-class-5 {
  color: var(--black);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 14px;
}

.index {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 3511px;
  min-width: 1440px;
  
  position: relative;
  width: 100%;
}

.index .back-to-thumbnails-IcPKRJ {
  background-color: var(--white);
  border-radius: 2px;
  cursor: pointer;
  height: 50px;
  position: absolute;
  right: 35px;
  top: 29px;
  width: 50px;
}

.index .background-7Tktr1 {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-7iB09V {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-CiDiau {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-EgdBDA {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-QPxyMD {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-W7r9kz {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-XH43Zq {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-YF5ZLi {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-dEv6lC {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-dncXdj {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-mxZgLT {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-sxoPxA {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-t85yIM {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-wkRdWJ {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .background-zg8CzX {
  background-color: var(--mercury);
  height: 23.08%;
  left: 0px;
  position: absolute;
  top: 76.92%;
  width: 100%;
}

.index .eab-logo-color-1-C61RwL {
  background-color: rgba(255, 255, 255, 0);
  background-image: url(img/eab-logo-color-1@2x.png);
  background-size: 100% 100%;
  bottom: 50px;
  height: 77px;
  position: absolute;
  right: 106px;
  width: 200px;
}

.index .frame-1-61Z7WH {
  background-color: rgba(255, 255, 255, 0);
  height: 304px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1228px;
}

.index .frame-2-61Z7WH {
  background-color: rgba(255, 255, 255, 0);
  height: 304px;
  left: 0px;
  position: absolute;
  top: 387px;
  width: 1228px;
}

.index .frame-3-61Z7WH {
  background-color: rgba(255, 255, 255, 0);
  height: 326px;
  left: 0px;
  position: absolute;
  top: 774px;
  width: 1228px;
}

.index .frame-4-C61RwL {
  background-color: rgba(255, 255, 255, 0);
  height: 1100px;
  left: calc(50% - 614px);
  position: absolute;
  top: 345px;
  width: 1228px;
}

.index .header-C61RwL {
  background-color: rgba(255, 255, 255, 0);
  height: 213px;
  left: 106px;
  position: absolute;
  top: 0px;
  width: calc(100% - 106px);
}

.index .individual-ive-assets-C61RwL {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 38px;
  height: auto;
  left: calc(50% - 614px);
  position: absolute;
  text-align: left;
  top: 1772px;
  width: 1230px;
}

.index .iwc-frame-1lo3Nx {
  background-color: var(--mist-gray);
  height: 78px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 383px;
}

.index .iwc-frame-4WP2S8 {
  background-color: var(--mist-gray);
  height: 78px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 383px;
}

.index .iwc-frame-BKtSd9 {
  background-color: var(--mist-gray);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 383px;
}

.index .iwc-frame-L1gLll {
  background-color: var(--mist-gray);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 383px;
}

.index .iwc-frame-PprdKF {
  background-color: var(--mist-gray);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 383px;
}

.index .iwc-frame-SiNrKe {
  background-color: var(--mist-gray);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 383px;
}

.index .iwc-frame-Tf73xR {
  background-color: var(--mist-gray);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 383px;
}

.index .iwc-frame-g6vh31 {
  background-color: var(--mist-gray);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 383px;
}

.index .iwc-frame-xRZh9f {
  background-color: var(--mist-gray);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 383px;
}

.index .iwc-proof-C3JwHI {
  background-color: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 13px;
  height: 55.17%;
  left: 4.43%;
  position: absolute;
  text-align: center;
  top: 22.41%;
  width: 91.67%;
}

.index .iwc-proof-Yyb0UG {
  background-color: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 13px;
  height: 55.17%;
  left: 4.43%;
  position: absolute;
  text-align: center;
  top: 22.41%;
  width: 91.67%;
}

.index .iwc-proof-blwYDI {
  background-color: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 13px;
  height: 55.17%;
  left: 4.43%;
  position: absolute;
  text-align: center;
  top: 22.41%;
  width: 91.67%;
}

.index .iwc-proof-dcc21J {
  background-color: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 13px;
  height: 55.17%;
  left: 4.43%;
  position: absolute;
  text-align: center;
  top: 22.41%;
  width: 91.67%;
}

.index .iwc-proof-dvlQvt {
  background-color: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 13px;
  height: 55.17%;
  left: 4.43%;
  position: absolute;
  text-align: center;
  top: 22.41%;
  width: 91.67%;
}

.index .iwc-proof-i61whh {
  background-color: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 13px;
  height: 55.17%;
  left: 4.43%;
  position: absolute;
  text-align: center;
  top: 22.41%;
  width: 91.67%;
}

.index .iwc-proof-l4y3PY {
  background-color: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 13px;
  height: 55.17%;
  left: 4.43%;
  position: absolute;
  text-align: center;
  top: 22.41%;
  width: 91.67%;
}

.index .iwc-proof-rdbHhW {
  background-color: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 13px;
  height: 55.17%;
  left: 4.43%;
  position: absolute;
  text-align: center;
  top: 22.41%;
  width: 91.67%;
}

.index .iwc-proof-xaBuIr {
  background-color: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 13px;
  height: 55.17%;
  left: 4.43%;
  position: absolute;
  text-align: center;
  top: 22.41%;
  width: 91.67%;
}

.index .iwc-thumbnail-2P4qUJ {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 192px);
  position: absolute;
  top: 2133px;
  width: 386px;
}

.index .iwc-thumbnail-3kIbHG {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% + 230px);
  position: absolute;
  top: 2723px;
  width: 386px;
}

.index .iwc-thumbnail-C61RwL {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 614px);
  position: absolute;
  top: 1838px;
  width: 386px;
}

.index .iwc-thumbnail-HlKRTo {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% + 230px);
  position: absolute;
  top: 2428px;
  width: 386px;
}

.index .iwc-thumbnail-J1YQmd {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 614px);
  position: absolute;
  top: 2428px;
  width: 386px;
}

.index .iwc-thumbnail-Lrjpax {
  background-color: rgba(255, 255, 255, 0);
  height: 326px;
  left: calc(50% - 192px);
  position: absolute;
  top: 0px;
  width: 384px;
}

.index .iwc-thumbnail-QkaUEw {
  background-color: rgba(255, 255, 255, 0);
  height: 304px;
  left: calc(50% - 614px);
  position: absolute;
  top: 0px;
  width: 384px;
}

.index .iwc-thumbnail-QxM5SU {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 614px);
  position: absolute;
  top: 2133px;
  width: 386px;
}

.index .iwc-thumbnail-R7WrHk {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 192px);
  position: absolute;
  top: 3018px;
  width: 386px;
}

.index .iwc-thumbnail-VMr6Om {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 192px);
  position: absolute;
  top: 1838px;
  width: 386px;
}

.index .iwc-thumbnail-VkPPtx {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 614px);
  position: absolute;
  top: 2723px;
  width: 386px;
}

.index .iwc-thumbnail-WMATUG {
  background-color: rgba(255, 255, 255, 0);
  height: 304px;
  left: calc(50% - 614px);
  position: absolute;
  top: 0px;
  width: 384px;
}

.index .iwc-thumbnail-YWzA7M {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 192px);
  position: absolute;
  top: 2723px;
  width: 386px;
}

.index .iwc-thumbnail-a5WPlX {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 192px);
  position: absolute;
  top: 2428px;
  width: 386px;
}

.index .iwc-thumbnail-a73nmY {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% - 614px);
  position: absolute;
  top: 3018px;
  width: 386px;
}

.index .iwc-thumbnail-gQjG0r {
  background-color: rgba(255, 255, 255, 0);
  height: 304px;
  left: calc(50% + 230px);
  position: absolute;
  top: 0px;
  width: 384px;
}

.index .iwc-thumbnail-gb2WpB {
  background-color: rgba(255, 255, 255, 0);
  height: 326px;
  left: calc(50% + 230px);
  position: absolute;
  top: 0px;
  width: 384px;
}

.index .iwc-thumbnail-mzXdH9 {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% + 230px);
  position: absolute;
  top: 1838px;
  width: 386px;
}

.index .iwc-thumbnail-qr8e7q {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% + 230px);
  position: absolute;
  top: 2133px;
  width: 386px;
}

.index .iwc-thumbnail-rxvq3k {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 247px;
  left: calc(50% + 230px);
  position: absolute;
  top: 3018px;
  width: 386px;
}

.index .iwc-thumbnail-ysXXUA {
  background-color: rgba(255, 255, 255, 0);
  height: 304px;
  left: calc(50% - 192px);
  position: absolute;
  top: 0px;
  width: 384px;
}

.index .iwc-thumbnail1-yzsYrx {
  background-color: rgba(255, 255, 255, 0);
  height: 304px;
  left: calc(50% + 230px);
  position: absolute;
  top: 0px;
  width: 384px;
}

.index .iwc-thumbnail2-yzsYrx {
  background-color: rgba(255, 255, 255, 0);
  height: 304px;
  left: calc(50% - 192px);
  position: absolute;
  top: 0px;
  width: 384px;
}

.index .iwc-thumbnail3-yzsYrx {
  background-color: rgba(255, 255, 255, 0);
  height: 304px;
  left: calc(50% - 614px);
  position: absolute;
  top: 0px;
  width: 384px;
}

.index .iwc-title-7Tktr1 {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-7iB09V {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-AUPQ0k {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 22px;
  left: 21px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 343px;
}

.index .iwc-title-CIzVwQ {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 22px;
  left: 21px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 343px;
}

.index .iwc-title-CiDiau {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-EgdBDA {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-QPxyMD {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-RilS09 {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 44px;
  left: 21px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 343px;
}

.index .iwc-title-S8ILCx {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 22px;
  left: 21px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 343px;
}

.index .iwc-title-SdfXZa {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 22px;
  left: 21px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 343px;
}

.index .iwc-title-W7r9kz {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-WJeFYv {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 44px;
  left: 21px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 343px;
}

.index .iwc-title-XH43Zq {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-YF5ZLi {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-dEv6lC {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-dncXdj {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-igwTM4 {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 22px;
  left: 21px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 343px;
}

.index .iwc-title-iy6CEj {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 22px;
  left: 21px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 343px;
}

.index .iwc-title-mxZgLT {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-sxoPxA {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-t85yIM {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-wkRdWJ {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .iwc-title-xAsxgi {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 22px;
  left: 21px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 343px;
}

.index .iwc-title-zg8CzX {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 18px;
  height: 23.08%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 76.92%;
  width: 100%;
}

.index .mini-tours-C61RwL {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 38px;
  height: auto;
  left: calc(50% - 614px);
  position: absolute;
  text-align: left;
  top: 279px;
  width: 1230px;
}

.index .nsu-florid-tal-blue-1-IcPKRJ {
  background-color: rgba(255, 255, 255, 0);
  height: 37px;
  left: 0px;
  position: absolute;
  top: 66px;
  width: 264px;
}

.index .proof-1lo3Nx {
  background-color: var(--mountain-mist);
  cursor: pointer;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 268px;
  width: 384px;
}

.index .proof-4WP2S8 {
  background-color: var(--mountain-mist);
  cursor: pointer;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 268px;
  width: 384px;
}

.index .proof-BKtSd9 {
  background-color: var(--mountain-mist);
  cursor: pointer;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 384px;
}

.index .proof-L1gLll {
  background-color: var(--mountain-mist);
  cursor: pointer;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 384px;
}

.index .proof-PprdKF {
  background-color: var(--mountain-mist);
  cursor: pointer;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 384px;
}

.index .proof-SiNrKe {
  background-color: var(--mountain-mist);
  cursor: pointer;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 384px;
}

.index .proof-Tf73xR {
  background-color: var(--mountain-mist);
  cursor: pointer;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 384px;
}

.index .proof-g6vh31 {
  background-color: var(--mountain-mist);
  cursor: pointer;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 384px;
}

.index .proof-xRZh9f {
  background-color: var(--mountain-mist);
  cursor: pointer;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 384px;
}

.index .rectangle-127-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 14.42%;
  position: absolute;
  top: 19.23%;
  width: 17.89%;
}

.index .rectangle-134-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 14.42%;
  position: absolute;
  top: 55.51%;
  width: 17.89%;
}

.index .rectangle-135-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 40.26%;
  position: absolute;
  top: 19.23%;
  width: 17.89%;
}

.index .rectangle-136-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 40.26%;
  position: absolute;
  top: 55.51%;
  width: 17.89%;
}

.index .rectangle-137-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 66.11%;
  position: absolute;
  top: 19.23%;
  width: 17.89%;
}

.index .rectangle-138-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 66.11%;
  position: absolute;
  top: 55.51%;
  width: 17.89%;
}

.index .top-angle-IcPKRJ {
  background-color: rgba(9, 113, 206, 0);
  height: 158px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 1114px;
}

.index .undergradn-eb-content-IcPKRJ {
  background-color: rgba(0, 0, 0, 0);
  height: 66px;
  left: 0px;
  position: absolute;
  text-align: left;
  top: 114px;
  width: 345px;
}

.index .x-image-1lo3Nx {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-4WP2S8 {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-7Tktr1 {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-7iB09V {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-BKtSd9 {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-CiDiau {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-EgdBDA {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-L1gLll {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-PprdKF {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-QPxyMD {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-SiNrKe {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-Tf73xR {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-W7r9kz {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-XH43Zq {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-YF5ZLi {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-dEv6lC {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-dncXdj {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-g6vh31 {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-mxZgLT {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-sxoPxA {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-t85yIM {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-wkRdWJ {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-xRZh9f {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 190px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .x-image-zg8CzX {
  background-color: rgba(255, 255, 255, 0);
  height: 76.92%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

:root {
  --abbey: rgba(79, 79, 79, 1);
  --black: rgba(0, 0, 0, 1);
  --mercury: rgba(229, 229, 229, 1);
  --mist-gray: rgba(196, 196, 196, 1);
  --mountain-mist: rgba(153, 153, 153, 1);
  --white: rgba(255, 255, 255, 1);
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");

.eab-component-wrapper a,
.eab-screen a {
  text-decoration: none;
  display: contents;
}

.eab-flexbox-container a {
  line-height: 0;
}

.eab-full-width-a {
  width: 100%;
}

.eab-full-height-a {
  height: 100%;
}

.eab-screen textarea:focus,
.eab-screen input:focus {
  outline: none;
}

.eab-screen *,
.eab-component-wrapper * {
  box-sizing: border-box;
}

.eab-screen div {
  -webkit-text-size-adjust: none;
}

.eab-container-center-vertical,
.eab-container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.eab-container-center-vertical {
  align-items: center;
  height: 100%;
}

.eab-container-center-horizontal {
  justify-content: center;
  width: 100%;
}

.eab-container-center-vertical > *,
.eab-container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}

.eab-component-wrapper,
.eab-screen {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.eab-auto-animated div {
  opacity: 0;
  position: absolute;
  --eab-z-index: -1;
}

.eab-auto-animated .eab-container-center-vertical,
.eab-auto-animated .eab-container-center-horizontal {
  opacity: 1;
}

.eab-overlay {
  position: absolute;
  opacity: 0;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.eab-animate-appear {
  opacity: 0;
  display: block;
  animation: eab-reveal 0.3s ease-in-out 1 normal forwards;
}

.eab-animate-disappear {
  opacity: 1;
  display: block;
  animation: eab-reveal 0.3s ease-in-out 1 reverse forwards;
}

.eab-animate-nodelay {
  animation-delay: 0s;
}

@keyframes eab-reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-center {
  align-self: center;
}

.eab-valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eab-valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.eab-component-wrapper,
.eab-component-wrapper * {
  pointer-events: none;
}

.eab-component-wrapper a *,
.eab-component-wrapper a,
.eab-component-wrapper input,
.eab-component-wrapper video,
.eab-component-wrapper iframe,
.eab-listeners-active,
.eab-listeners-active * {
  pointer-events: auto;
}

.eab-hidden,
.eab-hidden * {
  visibility: hidden;
  pointer-events: none;
}

.eab-smart-layers-pointers,
.eab-smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.eab-component-wrapper.eab-not-ready,
.eab-component-wrapper.eab-not-ready * {
  visibility: hidden !important;
}

.eab-listeners-active-click,
.eab-listeners-active-click * {
  cursor: pointer;
}

/* screen - htmltemplate */

.border-class-1 {
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 1px;
}

.font-class-1 {
  color: var(--black);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.font-class-2 {
  color: var(--black);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.font-class-3 {
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 600;
}

.font-class-4 {
  color: var(--black);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.font-class-5 {
  color: var(--black);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 14px;
}

.htmltemplate {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 900px;
  min-width: 1440px;
  
  position: relative;
  width: 100%;
}

.htmltemplate .back-to-thumbnails-IcPKRJ {
  background-color: var(--white);
  border-radius: 2px;
  cursor: pointer;
  height: 50px;
  position: absolute;
  right: 35px;
  top: 29px;
  width: 50px;
}

.htmltemplate .header-C61RwL {
  background-color: rgba(255, 255, 255, 0);
  height: 213px;
  left: 106px;
  position: absolute;
  top: 0px;
  width: calc(100% - 106px);
}

.htmltemplate .nsu-florid-tal-blue-1-IcPKRJ {
  background-color: rgba(255, 255, 255, 0);
  height: 37px;
  left: 0px;
  position: absolute;
  top: 66px;
  width: 264px;
}

.htmltemplate .rectangle-127-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 14.42%;
  position: absolute;
  top: 19.23%;
  width: 17.89%;
}

.htmltemplate .rectangle-134-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 14.42%;
  position: absolute;
  top: 55.51%;
  width: 17.89%;
}

.htmltemplate .rectangle-135-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 40.26%;
  position: absolute;
  top: 19.23%;
  width: 17.89%;
}

.htmltemplate .rectangle-136-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 40.26%;
  position: absolute;
  top: 55.51%;
  width: 17.89%;
}

.htmltemplate .rectangle-137-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 66.11%;
  position: absolute;
  top: 19.23%;
  width: 17.89%;
}

.htmltemplate .rectangle-138-78cKUr {
  background-color: var(--abbey);
  height: 26.2%;
  left: 66.11%;
  position: absolute;
  top: 55.51%;
  width: 17.89%;
}

.htmltemplate .top-angle-IcPKRJ {
  background-color: rgba(9, 113, 206, 0);
  height: 158px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 1114px;
}

.htmltemplate .undergradn-eb-content-IcPKRJ {
  background-color: rgba(0, 0, 0, 0);
  height: 66px;
  left: 0px;
  position: absolute;
  text-align: left;
  top: 114px;
  width: 345px;
}

.htmltemplate .x-main-media-image-C61RwL {
  background-color: rgba(255, 255, 255, 0);
  background-size: 100% 100%;
  height: 536px;
  left: 7.36%;
  position: absolute;
  top: 252px;
  width: 85.28%;
}

.htmltemplate .x-page-title-C61RwL {
  background-color: rgba(0, 0, 0, 0);
  color: var(--black);
  font-size: 24px;
  height: 29px;
  position: absolute;
  right: 104px;
  text-align: right;
  top: 200px;
  width: 1152px;
}

:root {
  --abbey: rgba(79, 79, 79, 1);
  --black: rgba(0, 0, 0, 1);
  --mercury: rgba(229, 229, 229, 1);
  --mountain-mist: rgba(153, 153, 153, 1);
  --white: rgba(255, 255, 255, 1);
}
